.navbar{
position:sticky;
top:0;
display:flex;
justify-content:space-between;
align-items:center;
padding:10px 20px;
background:#202020;
z-index:1000;
}

.logo{
font-size:22px;
font-weight:bold;
color:red;
}