*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  background: #0f0f0f;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #0f0f0f; }
::-webkit-scrollbar-thumb { background: #3f3f3f; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #606060; }
